.register {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2rem; /* Increased padding for better spacing */
    text-align: center;
}

.register .ant-input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    color: #1d2129;
    margin: 0.5rem 0;
    width: 100%; /* Full width for Ant Design Input */
}

.register .ant-input-prefix svg {
    fill: #1d2129; /* Icon color */
}

.register .ant-btn {
    border-radius: 8px;
    margin-top: 1rem; /* Adjust margin top */
    width: 100%; /* Full width for Ant Design Button */
}

.register .ant-btn-primary {
    background-color: #1877f2;
    border-color: #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.register .ant-btn-primary:hover,
.register .ant-btn-primary:focus {
    background-color: #166fe5; /* Darker shade on hover */
    border-color: #166fe5;
}

.register .ant-form-item-explain-error {
    margin-top: 0.5rem; /* Adjust error message margin */
    color: #f5222d; /* Error message color */
}
