.dashboard-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
}

.dashboard-header h1 {
  margin: 0;
}

.new-button {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
}

.date-picker {
  margin-left: 10px;
}

.filter-button {
  background-color: #fff;
  border-color: #1890ff;
  color: #1890ff;
  margin-left: 10px;
}

.table-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.table-container .ant-table-thead > tr > th {
  background-color: #fafafa;
  font-weight: bold;
}


.print-button-container {
  margin-top: 20px;
  text-align: right;
}

.print-button {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
}
